<mat-nav-list class="sidenav-list">
  <div class="nav-header">
    <mat-icon class="nav-logo">gavel</mat-icon>
    <span class="nav-title">CRA System</span>
  </div>
  
  <mat-divider class="nav-divider"></mat-divider>
  
  <ng-container *ngFor="let item of menuItems">
    <div *ngIf="hasPermission(item.roles)">
      <!-- Simple menu item -->
      <a mat-list-item 
         *ngIf="!item.children" 
         [routerLink]="item.route"
         routerLinkActive="active-link"
         class="nav-item">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
      
      <!-- Menu item with children -->
      <div *ngIf="item.children" class="nav-group">
        <a mat-list-item 
           (click)="toggleExpanded(item)"
           class="nav-item nav-group-header">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
          <mat-icon class="expand-icon" 
                    [class.expanded]="item.expanded">
            expand_more
          </mat-icon>
        </a>
        
        <div class="nav-children" [class.expanded]="item.expanded">
          <ng-container *ngFor="let child of item.children">
            <a mat-list-item 
               *ngIf="hasPermission(child.roles)"
               [routerLink]="child.route"
               routerLinkActive="active-link"
               class="nav-child-item">
              <mat-icon matListItemIcon>{{ child.icon }}</mat-icon>
              <span matListItemTitle>{{ child.label }}</span>
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</mat-nav-list>